@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

html,
body {
  font-size: 15px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color:  hsl(0, 0%, 95%);
  font-family: 'Lexend Deca', sans-serif;
}

body,
* {
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

/* main section */
main{
  text-align: left;
}
.container{
  display: flex;
}
.container div{
  padding: 3em;
  width: 12vw;
 
}
img{
  max-width: 50%;
}
h1{
color:  hsl(0, 0%, 95%);
text-transform: uppercase;
padding: 0.3em;
}
p{
  color:hsla(0, 0%, 100%, 0.75);
  font-size: 0.9rem;
  padding: 0.5em;
}
button{
  background-color:  hsl(0, 0%, 95%);
  padding: 1em 1.5em;
  margin: 3em 0 1em 0;
  border:none;
  border-radius: 25px 25px;
}
/* sedan section */
.sedan{
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
  }
  .sedan button{
    color: hsl(31, 77%, 52%);
  }
  .sedan button:hover{
    border: groove 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color:hsl(31, 77%, 52%); 
    transition: 1s ease;
  }

  /* suv section */
.suv{
  background-color: hsl(184, 100%, 22%);
  }
  .suv button {
  color:  hsl(184, 100%, 22%);
  }
  .suv button:hover{
    border: groove 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);;
    background-color:hsl(184, 100%, 22%);
  }

  /* luxury section */
.luxury{
 background-color:  hsl(179, 100%, 13%);
 border-radius:0 10px 10px 0;
  }
  .luxury button{
    color:hsl(179, 100%, 13%);
  }
  .luxury button:hover{
    border: groove 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color:hsl(179, 100%, 13%);
  }

  /* footer section */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* media query */
@media (max-width:768px){
  body{
    padding: 1em;
    text-align: center;
  }
  .container{
    flex-direction: column;
  }
  .container div{
  width: 70vw;
  }
  .sedan{
    border-radius: 10px 10px 0 0;
    }
  .luxury{
    border-radius:0 0 10px 10px;
}
}

@media (max-width:768px) and (min-width:1000px){
  .container div{
    width: 60vw;
  }

}